<a href="#!/create">Create a New Poll</a> | <a href ng-click='logout()'>Logout</a>
<h1>Current Polls:</h1>
<input type="text" ng-model='poll_filter'>
<table>
  <tr>
    <th>Name</th>
    <th>Survey Question</th>
    <th>Date Posted</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat='poll in polls | filter: poll_filter track by $index'>
    <td>{{poll.user.name}}</td>
    <td><a href="#!/poll/{{poll._id}}">{{poll.question}}</a></td>
    <td>{{poll.createdAt | date: "longDate"}}</td>
    <td><a href ng-click='delete(poll._id)' ng-if='poll.user._id === user._id'>Delete</a></td>
  </tr>
</table>
